{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Name: {{ product.product_name }}</p>
    <p>Cost: {{ product.product_price }}</p>
    <p>Descrption: {{ product.product_description }}</p>
    <p>Expiration date: {{ product.product_expiration_date }}</p>
    <p>Avaible in stock -- to be implemented (changing the product model) --</p>
    <p>A button to help the client to add the product to the cart</p>
<a href="{{ request.META.HTTP_REFERER }}">Back to previous page</a>
</body>
</html>