{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}

    {% block additional_styles %}
        <style>
            body {
                background-image: url(https://i.pinimg.com/564x/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.jpg);
                height: 100%;
                background-size: 1920px 2000px;
                background-repeat: no-repeat;

            }
        </style>
    {% endblock %}

    {% if searched %}
        <p>You searched for {{ searched }}</p>
    {% else %}
        {% for p in products %}
            <p><a href="{{ p.product_name }}/">{{ p.product_name }} Price: {{ p.product_price }} </a>
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'delete_product' p.product_name %}">Delete</a>
                    <a href="{% url 'update_product' p.product_name %}">Update</a>
                {% endif %}
                <form method="get" action="">
                    <input type="submit" name="button" value="{{ p.product_name }}"/>
                </form>
            </p>
        {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'create_product' %}">(only for the admin) -> Create a new product</a>
    {% endif %}

{% endblock %}
</body>
</html>